@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,400;0,600;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
    --color-primary: #2b34cc;
    --color-secondary: #79a0e2;
    --color-dark: #141414;
    --color-white: #EDEDED;
    --sp-dark: #060606;
    --sp-white: #e8e6e6;
    --sp-red: #ce0929;
    --sp-red-md: #d06876;
    --sp-gray: #79797a;
    --sp-gray-md: #9e9e9e;
    --font-default: 16px;
    --font-family: 'Maven Pro', 'Prompt', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--font-family);
}

html {
    scrollbar-width: thin;
}

body {
    font-size: var(--font-default);
    background-color: var(--color-white);
    background-image: url('../image/fundo.jpg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* main {
    display: grid;
    grid-template-columns: 1fr;
} */

footer {
    background-color: var(--sp-dark);
    background-image: url('../image/torcedores.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    height: 25vh;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sp-white);
}

.navbar--vertical {
    flex-direction: column;
    justify-content: center;
}

.navbar__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.navbar__menu--first {
    justify-content: flex-start;
}

.navbar__menu--last {
    justify-content: flex-end;
}

.navbar__item {
    text-align: center;
    padding: .75rem;
    letter-spacing: .1rem;
}

.navbar__brand {
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    user-select: none;
    color: var(--sp-dark);
    float: right;
    margin-left: .4rem;
}

sup {
    font-family: 'Tangerine', cursive;
    font-size: 1.25rem;
    user-select: none;
    color: var(--sp-dark);
}

.navbar__logo {
    width: 3rem;
}

.navbar__link {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--sp-dark);
    background-color: transparent;
}

.navbar__link:hover {
    color: var(--sp-gray);
    background-color: transparent;
}

.header {
    font-size: 2rem;
    font-weight: 700;
    font-stretch: extra-condensed;
    letter-spacing: .2rem;
    margin-bottom: .5rem;
    text-align: center;
}

.paragraph {
    font-size: 1.1rem;
    letter-spacing: .05rem;
    /* text-indent: 1rem; */
    text-overflow: ellipsis;
    text-align: justify;
    line-height: 1.2;
}

.image {
    width: 15rem;
    margin: .5rem;
}

.cup {
    height: max-content;
    width: 100%;
    background-color: var(--sp-gray);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.about {
    height: max-content;
    width: 100%;
    background-color: var(--sp-white);
    padding: 1rem;
}

.shop {
    height: max-content;
    width: 100%;
    background-color: var(--sp-red);
    padding: 1rem;
}

.cast {
    height: max-content;
    width: 100%;
    background-color: var(--sp-dark);
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    flex: 1 1 calc(250px - .5rem);
    display: flex;
    flex-flow: column nowrap;
    width: calc(300px - 1rem);
    height: calc(450px - 1rem);
    border: 2px solid var(--sp-gray-md);
    border-radius: 16px;
    box-shadow: 0px 5px 20px var(--sp-gray);
    margin: .5rem;
    padding: .5rem;
}

.card__header {
    border: 1px solid;
    height: 15%;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 16px;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
}

.card__body {
    border: 1px solid;
    height: 70%;
    padding: .5rem;
    border-radius: 16px;
    font-size: 1.1rem;
}

.card__footer {
    border: 1px solid;
    height: 15%;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 16px;
}

.contact {
    color: var(--sp-white);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.contact__item {
    display: flex;
    flex-flow: row wrap;
}

.contact__link {
    width: 5rem;
    height: 2.5rem;
    padding: .5rem;
    text-align: center;
}

.contact__link a {
    text-decoration: none;
    color: var(--sp-white);
}

@media (min-width: 275px) and (max-width: 359.98px) {
    .navbar {
        justify-content: center;
    }

    .navbar__menu {
        flex-direction: column;
    }

    .cup {
        padding: .5rem;
    }

    .about {
        padding: .5rem;
    }

    .shop {
        padding: .5rem;
    }

    .cast {
        padding: .5rem;
    }
}

@media (min-width: 360px) and (max-width: 479.98px) {
    .navbar {
        justify-content: center;
    }

    .navbar__menu {
        justify-content: center;
    }
}

@media (min-width: 480px) and (max-width: 719.98px) {}

@media (min-width: 720px) and (max-width: 1023.98px) {}

@media (min-width: 1024px) and (max-width: 1399.98px) {}

@media (min-width: 1400px) and (max-width: 1599.98px) {}